<div class="main_content">
  <h1>Latest Palettes</h1>
  <% @palettes.reverse_each do |palette| %>
    <div class="palette_wrapper">
      <div class="edit_palette">
        <h2><%= palette.title %></h2>
        <% if palette.user == current_user %>
          <%= link_to edit_palette_path(palette) do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to palette, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </div>
      <div class="box_wrapper">
        <div class="palette_box">
          <div data-clipboard-text="<%= palette.color %>" class="box" style="background-color: <%= palette.color %>"></div>
          <h3><%= palette.color %></h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="<%= palette.color2 %>" class="box" style="background-color: <%= palette.color2 %>"></div>
          <h3><%= palette.color2 %></h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="<%= palette.color3 %>" class="box" style="background-color: <%= palette.color3 %>"></div>
          <h3><%= palette.color3 %></h3>
        </div>
        <div class="palette_box">
          <div data-clipboard-text="<%= palette.color4 %>" class="box" style="background-color: <%= palette.color4 %>"></div>
          <h3><%= palette.color4 %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
