<!DOCTYPE html>
<html>
<head>
  <title>Rgbyk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert")%>
  <% end %>
  <div class="page_wrap">
    <div class="copied">
      <p>COPIED!</p>
    </div>
    <%= render "layouts/sidebar" %>
    <%= yield %>
  </div>
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').fadeOut("slow", function(){
        $('alert').remove();
      })
    }, 250);
    setTimeout(function(){
      $('.is-open').fadeOut("slow", function(){
        $('.is-open').remove();
      })
    }, 250);
  });
</script>
<script>var clipboard = new Clipboard('.box');</script>
</body>
</html>
